<h1><%= @user.name %></h1>

<p><%= @user.contact_no %></p>

<ul>
  <li><%= link_to "Edit", edit_user_path(@user) %></li>
  
  <li><%= button_to "Log out" , destroy_user_session_path ,method: :delete, data:{turbo: false} %></li>
</ul>

<!-- <h2>Comments</h2>
<%#= render @article.comments%>
<h2>Add a comment:</h2>
<%#= form_with model: [ @article, @article.comments.build ] do |form| %>
  <p>
    <%#= form.label :commenter %><br>
    <%#= form.text_field :commenter %>
  </p>
  <p>
    <%#= form.label :body %><br>
    <%#= form.text_area :body %>
  </p>
  <p>
    <%#= form.submit %>
  </p> -->
<%# end %>